pipeline/MetadataDrivenCopyTask_mz5_BottomLevel.json
{
	"name": "MetadataDrivenCopyTask_mz5_BottomLevel",
	"properties": {
		"description": "This pipeline will copy objects from one group. The objects belonging to this group will be copied parallelly.",
		"activities": [
			{
				"name": "ListObjectsFromOneGroup",
				"description": "List objects from one group and iterate each of them to downstream activities",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ObjectsPerGroupToCopy",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "RouteJobsBasedOnLoadingBehavior",
							"description": "Check the loading behavior for each object if it requires full load or incremental load. If it is Default or FullLoad case, do full load. If it is DeltaLoad case, do incremental load.",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "FullLoad",
										"activities": [
											{
												"name": "FullLoadOneObject",
												"description": "Take a full snapshot on this object and copy it to the destination",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "@{json(item().SourceObjectSettings).schema}.@{json(item().SourceObjectSettings).table}"
													},
													{
														"name": "Destination",
														"value": "@{json(item().SinkObjectSettings).schema}.@{json(item().SinkObjectSettings).table}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "@json(item().CopySourceSettings).sqlReaderQuery",
															"type": "Expression"
														},
														"partitionOption": {
															"value": "@json(item().CopySourceSettings).partitionOption",
															"type": "Expression"
														},
														"partitionSettings": {
															"partitionColumnName": {
																"value": "@json(item().CopySourceSettings).partitionColumnName",
																"type": "Expression"
															},
															"partitionUpperBound": {
																"value": "@json(item().CopySourceSettings).partitionUpperBound",
																"type": "Expression"
															},
															"partitionLowerBound": {
																"value": "@json(item().CopySourceSettings).partitionLowerBound",
																"type": "Expression"
															},
															"partitionNames": "@json(item().CopySourceSettings).partitionNames"
														}
													},
													"sink": {
														"type": "SqlServerSink",
														"writeBatchSize": {
															"value": "@json(item().CopySinkSettings).writeBatchSize",
															"type": "Expression"
														},
														"preCopyScript": {
															"value": "@json(item().CopySinkSettings).preCopyScript",
															"type": "Expression"
														},
														"maxConcurrentConnections": {
															"value": "@json(item().CopySinkSettings).maxConcurrentConnections",
															"type": "Expression"
														},
														"writeBehavior": {
															"value": "@json(item().CopySinkSettings).writeBehavior",
															"type": "Expression"
														},
														"sqlWriterUseTableLock": {
															"value": "@json(item().CopySinkSettings).sqlWriterUseTableLock",
															"type": "Expression"
														},
														"upsertSettings": {
															"useTempDB": true
														},
														"tableOption": {
															"value": "@json(item().CopySinkSettings).tableOption",
															"type": "Expression"
														}
													},
													"enableStaging": false,
													"parallelCopies": 2,
													"validateDataConsistency": false,
													"translator": {
														"value": "@json(item().CopyActivitySettings).translator",
														"type": "Expression"
													}
												},
												"inputs": [
													{
														"referenceName": "MetadataDrivenCopyTask_mz5_SourceDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@json(item().SourceObjectSettings).schema",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@json(item().SourceObjectSettings).table",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "MetadataDrivenCopyTask_mz5_DestinationDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@json(item().SinkObjectSettings).schema",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@json(item().SinkObjectSettings).table",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "DeltaLoad",
										"activities": [
											{
												"name": "GetMaxWatermarkValue",
												"description": "Query the source object to get the max value from watermark column",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "select max([@{json(item().DataLoadingBehaviorSettings).watermarkColumnName}]) as CurrentMaxWaterMarkColumnValue from [@{json(item().SourceObjectSettings).schema}].[@{json(item().SourceObjectSettings).table}]",
															"type": "Expression"
														},
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "MetadataDrivenCopyTask_mz5_SourceDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@json(item().SourceObjectSettings).schema",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@json(item().SourceObjectSettings).table",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "DeltaLoadOneObject",
												"description": "Copy the changed data only from last time via comparing the value in watermark column to identify changes.",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "GetMaxWatermarkValue",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "@{json(item().SourceObjectSettings).schema}.@{json(item().SourceObjectSettings).table}"
													},
													{
														"name": "Destination",
														"value": "@{json(item().SinkObjectSettings).schema}.@{json(item().SinkObjectSettings).table}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "select * from [@{json(item().SourceObjectSettings).schema}].[@{json(item().SourceObjectSettings).table}] \n    where [@{json(item().DataLoadingBehaviorSettings).watermarkColumnName}] > @{if(contains(json(item().DataLoadingBehaviorSettings).watermarkColumnType, 'Int'),\n    json(item().DataLoadingBehaviorSettings).watermarkColumnStartValue, \n    concat('''', json(item().DataLoadingBehaviorSettings).watermarkColumnStartValue, ''''))}\n    and [@{json(item().DataLoadingBehaviorSettings).watermarkColumnName}] <= @{if(contains(json(item().DataLoadingBehaviorSettings).watermarkColumnType, 'Int'),\n    activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue, \n    concat('''', activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue, ''''))}",
															"type": "Expression"
														},
														"partitionOption": {
															"value": "@json(item().CopySourceSettings).partitionOption",
															"type": "Expression"
														},
														"partitionSettings": {
															"partitionColumnName": {
																"value": "@json(item().CopySourceSettings).partitionColumnName",
																"type": "Expression"
															},
															"partitionUpperBound": {
																"value": "@json(item().CopySourceSettings).partitionUpperBound",
																"type": "Expression"
															},
															"partitionLowerBound": {
																"value": "@json(item().CopySourceSettings).partitionLowerBound",
																"type": "Expression"
															},
															"partitionNames": "@json(item().CopySourceSettings).partitionNames"
														}
													},
													"sink": {
														"type": "SqlServerSink",
														"writeBatchSize": {
															"value": "@json(item().CopySinkSettings).writeBatchSize",
															"type": "Expression"
														},
														"preCopyScript": {
															"value": "@json(item().CopySinkSettings).preCopyScript",
															"type": "Expression"
														},
														"maxConcurrentConnections": {
															"value": "@json(item().CopySinkSettings).maxConcurrentConnections",
															"type": "Expression"
														},
														"writeBehavior": {
															"value": "@json(item().CopySinkSettings).writeBehavior",
															"type": "Expression"
														},
														"sqlWriterUseTableLock": {
															"value": "@json(item().CopySinkSettings).sqlWriterUseTableLock",
															"type": "Expression"
														},
														"upsertSettings": {
															"useTempDB": true
														},
														"tableOption": {
															"value": "@json(item().CopySinkSettings).tableOption",
															"type": "Expression"
														}
													},
													"enableStaging": false,
													"parallelCopies": 2,
													"validateDataConsistency": false,
													"translator": {
														"value": "@json(item().CopyActivitySettings).translator",
														"type": "Expression"
													}
												},
												"inputs": [
													{
														"referenceName": "MetadataDrivenCopyTask_mz5_SourceDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@json(item().SourceObjectSettings).schema",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@json(item().SourceObjectSettings).table",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "MetadataDrivenCopyTask_mz5_DestinationDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@json(item().SinkObjectSettings).schema",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@json(item().SinkObjectSettings).table",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "UpdateWatermarkColumnValue",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "DeltaLoadOneObject",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[UpdateWatermarkColumnValue_mz5]",
													"storedProcedureParameters": {
														"Id": {
															"value": {
																"value": "@item().Id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"watermarkColumnStartValue": {
															"value": {
																"value": "@activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SqlServer2",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "DefaultFullLoadOneObject",
										"description": "Take a full snapshot on this object and copy it to the destination",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Source",
												"value": "@{json(item().SourceObjectSettings).schema}.@{json(item().SourceObjectSettings).table}"
											},
											{
												"name": "Destination",
												"value": "@{json(item().SinkObjectSettings).schema}.@{json(item().SinkObjectSettings).table}"
											}
										],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "@json(item().CopySourceSettings).sqlReaderQuery",
													"type": "Expression"
												},
												"partitionOption": {
													"value": "@json(item().CopySourceSettings).partitionOption",
													"type": "Expression"
												},
												"partitionSettings": {
													"partitionColumnName": {
														"value": "@json(item().CopySourceSettings).partitionColumnName",
														"type": "Expression"
													},
													"partitionUpperBound": {
														"value": "@json(item().CopySourceSettings).partitionUpperBound",
														"type": "Expression"
													},
													"partitionLowerBound": {
														"value": "@json(item().CopySourceSettings).partitionLowerBound",
														"type": "Expression"
													},
													"partitionNames": "@json(item().CopySourceSettings).partitionNames"
												}
											},
											"sink": {
												"type": "SqlServerSink",
												"writeBatchSize": {
													"value": "@json(item().CopySinkSettings).writeBatchSize",
													"type": "Expression"
												},
												"preCopyScript": {
													"value": "@json(item().CopySinkSettings).preCopyScript",
													"type": "Expression"
												},
												"maxConcurrentConnections": {
													"value": "@json(item().CopySinkSettings).maxConcurrentConnections",
													"type": "Expression"
												},
												"writeBehavior": {
													"value": "@json(item().CopySinkSettings).writeBehavior",
													"type": "Expression"
												},
												"sqlWriterUseTableLock": {
													"value": "@json(item().CopySinkSettings).sqlWriterUseTableLock",
													"type": "Expression"
												},
												"upsertSettings": {
													"useTempDB": true
												},
												"tableOption": {
													"value": "@json(item().CopySinkSettings).tableOption",
													"type": "Expression"
												}
											},
											"enableStaging": false,
											"parallelCopies": 2,
											"validateDataConsistency": false,
											"translator": {
												"value": "@json(item().CopyActivitySettings).translator",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "MetadataDrivenCopyTask_mz5_SourceDS",
												"type": "DatasetReference",
												"parameters": {
													"cw_schema": {
														"value": "@json(item().SourceObjectSettings).schema",
														"type": "Expression"
													},
													"cw_table": {
														"value": "@json(item().SourceObjectSettings).table",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "MetadataDrivenCopyTask_mz5_DestinationDS",
												"type": "DatasetReference",
												"parameters": {
													"cw_schema": {
														"value": "@json(item().SinkObjectSettings).schema",
														"type": "Expression"
													},
													"cw_table": {
														"value": "@json(item().SinkObjectSettings).table",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ObjectsPerGroupToCopy": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "MetadataDrivenCopyTask_mz5_20250518"
		},
		"annotations": []
	}
}